guillotina>=7.0.6
diff-match-patch==20121119
# Conditional Pillow versions
pillow==10.4.0; python_version < '3.11'
pillow==11.1.0; python_version >= '3.11'
plone.scale>=3.0.1
guillotina_linkintegrity>=5.0.2
jinja2==2.11.3
MarkupSafe==2.0.1
pytz==2021.1
redis[hiredis]>4.2.0rc1
python-dateutil==2.9.0