pytest==8.3.5
pytest-asyncio==0.24.0
pytest-cov==6.1.1
pytest-runner==6.0.1
backoff==2.2.1
docker==7.1.0
docker-pycreds==0.4.0
psycopg2-binary
pytest-docker-fixtures
async_asgi_testclient
aiohttp>=3.6.0,<4.0.0
